/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #333; /* Set default text color */
  background-color: #fbfbfb;
}

header {
  background-color: #739488;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align buttons to the left */
  padding: 5px 20px;
}

.logo img {
  max-width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 4px;
}

nav a:hover {
  color: #a9cdbd;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}

.banner {
  text-align: center;
  background-image: url('https://www.shutterstock.com/image-photo/smiling-senior-husband-looking-wife-260nw-1884068935.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 0; /* Adjusted padding for a taller banner */
  color: #fff;
  mix-blend-mode: multiply; /* Decrease brightness of the banner image */
  /*min-height: 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.banner h1 {
  font-size: 40pt;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.banner p {
  font-size: 13pt;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Existing media queries remain the same */

/* New mobile responsiveness */
@media screen and (max-width: 768px) {
  /* Existing mobile styles remain the same */

  nav ul {
    background-color: rgba(115, 148, 136, 0.95);
    position: absolute;
    top: 65px;
    left: 20px;
    width: calc(100% - 40px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin: 10px 20px;
  }

  .banner {
    padding: 200px 0;
  }

  .banner h1 {
    font-size: 28px;
  }

  .banner p {
    font-size: 16px;
    margin-top: 10px;
  }
}

.documents,
.our-team,
.image-section {
  padding: 50px 0;
  text-align: center;
}

.documents h2,
.our-team h2,
.image-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #739488; /* Updated footer background color */
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline-block;
  margin: 0 15px;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #a9cdbd;
}
