<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="our-team.html" class="navigation-links-navlink1">
      <span>Our Team</span>
    </a>
    <a href="contact-us.html" class="navigation-links-navlink2">
      <span>Contact Us</span>
    </a>
    <a href="donate.html" class="navigation-links-navlink3">
      <span>Donate</span>
    </a>
    <a
      href="https://forms.gle/MYht4NCX6qrd5xmH6"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Become a Volunteer</span>
    </a>
  </nav>
</div>
